<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
    <body>

    <div id="topbar"></div>

    <header>
      <h1>Demo page of Pub/Sub-3D</h1>
      <div id="header"></div>
    </header>

    <div id="contents">

    <div id="left-column">
	    <div id="box-container">
    		<div id="display-comments-area"></div>
		</div>
    </div>

    <div id="right-column">
    	<div id="window-of-comments">
    		<table class="table table-striped table-bordered table-condensed" style="margin-bottom:2px;">
    			<thead><tr class="btn-primary"><th>Comment</th><th width="80">(x,y,z)</th></tr></thead>
			</table>
			<div id="display-comments-list">
    			<table id="window-of-comments-table" class="table table-striped table-bordered table-condensed"></table>
			</div>
		</div>
    </div>

    </div>

    <div id="color"></div>

	<div id="footer"></div>

  <script type="text/javascript" src="/javascripts/initialize.js"></script>
  </body>
</html>
