<!DOCTYPE html>
<html>
  <head>
    <title>Pub/Sub-3D</title>
  </head>
  <body>
    <div id="box-container">
        <div id="display-comments-area"></div>
    </div>
  <script type="text/javascript" src="/javascripts/initialize.js"></script>
  </body>
</html>
